<launch>
    <arg name="run_description" default="false"/>

    <group if="$(arg run_description)">
        <include file="$(find vitulus_description)/launch/vitulus4wd.launch">
            <arg name="rviz" value="true"/>
        </include>
    </group>

	<!-- Vitulus model -->
	<param name="robot_description" command="$(find xacro)/xacro '$(find vitulus_description)/urdf/vitulus4WD_description.urdf.xacro' --inorder" />

    <node name="vitulus_base_node" pkg="vitulus_base" type="vitulus_base_node">
        <remap from="/mobile_base_controller/cmd_vel" to="/cmd_vel" />
    </node>



    <!-- Controller -->
    <rosparam command="load" file="$(find vitulus_base)/config/base_common.yaml"/>

    <node name="controller_spawner" pkg="controller_manager" type="spawner" output="screen"
          args="joint_state_controller
          mobile_base_controller"/>

    <!-- HW Controller -->
    <node pkg="vitulus_base" type="base_controller" name="base_controller" output="screen" respawn="true"/>


</launch>